[phases.setup]
nixPkgs = ["nodejs-18_x", "python310", "python310Packages.pip"]

[phases.install]
cmds = [
  "npm install",
  "npm run build",
  "pip install --upgrade pip setuptools wheel",
  "pip install -r requirements.txt"
]

[start]
cmd = "bash start.sh"

