[phases.setup]
nixPkgs = ["nodejs-18_x", "python310"]

[phases.install]
cmds = [
  "npm install",
  "npm run build",
  "pip3 install --upgrade pip",
  "pip3 install -r requirements.txt"
]

[start]
cmd = "bash start.sh"

